/* Global styles */
body.dark-mode {
  background-color: #121212; /* Dark background color */
  color: #e0e0e0; /* Light text color */
}

/* Sidebar styles */
.sidebar.dark-mode {
  background-color: #333;
  color: #f9f9f9;
}

/* Topbar styles */
.topbar.dark-mode {
  background-color: #333;
  color: #f9f9f9;
}

/* Content styles */
.content.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

/* Ensure all elements are styled accordingly */
